<h3>Consulter l'article</h3>
<div class="well">
Id : {{ article.id }}<br/>
Auteur : {{ article.auteur }}<br/>
Titre : {{ article.titre }}<br/>
Contenu : {{ article.contenu }}<br/>

<a href="{{ path("article_list") }}">Retour à la liste des articles</a>
</div>